.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat__room-chat > h1 {
  text-align: center;
}

.chat__input-username,
.chat__input-room {
  width: 300px;
  height: 30px;
  margin: 5px 0;
  padding: 0 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat__button-enter-room {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: rgb(61, 87, 233);
  color: #fff;
}

.chat__button-enter-room:hover {
  cursor: pointer;
}

.chat__box-chat {

  margin-top: 5%;
}

.chat__messages-wrapper {  height: 300px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
}

.chat__messages-wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.chat__messages-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.mes-me,
.mes-orther {
  margin-top: 10px;
  max-width: 250px;
  width: fit-content;
  height: 30px;
  border-radius: 4px;
  padding: 4px 8px;
  color: #fff;
  word-wrap: break-word;
}

.mes-me {
  margin-left: auto;
  margin-right: 4px;
  background-color: rgb(82, 69, 207);
}

.mes-orther {
  margin-right: auto;
  margin-left: 4px;
  background-color: rgb(88, 87, 97);
}

.mes-me__info,
.mes-orther__info {
  width: fit-content;  
  font-size: 12px;
  margin: 5px 0 10px;
  color: rgb(73, 69, 69);
}

.mes-me__info {
  margin-left: auto;
  margin-right: 4px;
}

.mes-orther__info {
  margin-right: auto;
  margin-left: 4px;
}

.chat__input {

}

.chat__input-message {
  width: 90%;
  height: 30px;
  margin: 5px 0;
  padding: 0 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat__input > i {
  width: 10%;
  text-align: center;
  color: rgb(23, 96, 180);
}

.chat__input > i:hover {
  cursor: pointer;
}